.projects-intro .primary-button {
  background-color: #001220;
  color: #fff;
  font-weight: bold;
}
.btn a {
  color: #fff !important;
}

.projects-list {
  overflow: hidden;
}

.demo-button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.project {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 10px;
  margin-top: 50px;
  animation: project-animation 5s linear infinite;
}
.project:hover {
  animation-play-state: paused;
}
.project img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.project:hover .project-content {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s;
}

@media (max-width: 750px) {
  .test {
    margin-top: 3rem;
  }
  .test2 {
    margin: 3rem 0;
  }
}

@keyframes project-animation {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
